@font-face {
	font-family: "Maven Pro";
	src: url(../font/CenturyGothic.TTF);
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased !important;
}

body {
	background: #fff;
	font-family: 'Maven Pro', sans-serif;
}

::-moz-selection {
	background: #5eccf7;
	color: white; /* Firefox */
}
::selection {
	background: #5eccf7;
	color: white; /* Opera,Safari,Chrome */
}
/* CUSTOMIZE THE NAVBAR
 -------------------------------------------------- */

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
	height: 70px;
	border: 0;
	background: #222222;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
	padding: 16px 20px 16px; /* Increase vertical padding to match navbar links */
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li {
	cursor: hand;
}

.navbar .nav > li > a {
	padding: 25px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 10px;
}

/* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */
#cta-content {
	height: 500px;
	width: 100%;
	background: url('../image/main_bg_image.jpg') repeat-x transparent 50% 50%;
	color: #fff;
}

#cta-content .wrapped-content {
	padding: 130px 0px 0px 0px;
}

.wrapped-content {
	width: 1024px;
}

.main_title h1 {
	margin: 0;
	line-height: 1.0;
	color: #fff;
	font-size: 4em;
}

.main_title h1, .main_title h2 {
	text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.main_title h2 {
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px;
	color: white;
	font-size: 2em;
}

.main_title {
	margin-top: 50px;
	padding-left: 20px;
}

.main_title .bottom {
	margin-top: 30px;
}

.main_title .bottom a {
	margin-right: 15px;
	border-radius: 4px;
}
/* MARKETING CONTENT
 -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
	margin-top: 70px;
}
.marketing .span4 {
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .span4 p {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 11px;
	color: #999999;
}

.zhengwen {
	color: #333333;
	font-size: 18px;
	font-style: italic;
}

.zhengwen2 {
	color: #333333;
	font-size: 16px;
}
/* Featurettes
 ------------------------- */

.featurette-divider {
	margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
	padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
	overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
	margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.all-context {
	margin-top: 40px;
}
/* Monokai Syntax Highlight */

pre {
	padding: 0 0 0 0;
}

.demo {
	color: #999999;
	margin: 0 0 0 0;
	margin-bottom: 6px;
	text-align: center;
	cursor: pointer;
}
.all_demos {
	padding: 0 0 0 0;
}
/*********************** GET STARTED *************************/
.get-started {
	display: inline-block;
	font-size: 18px;
	letter-spacing: 3px;
	padding: 10px 22px;
	text-shadow: none !important;
	border-radius: 2px;
}

.orange-gradient {
	color: #ffffff;
	background-image: linear-gradient(90deg, #0d95eb 0%, #1fbffa 100%);
	background-image: -moz-linear-gradient(90deg, #0d95eb 0%, #1fbffa 100%);
	background-image: -webkit-linear-gradient(90deg, #0d95eb 0%, #1fbffa 100%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.orange-gradient:hover {
	color: #ffffff;
	text-decoration: none;
	background-image: linear-gradient(90deg, #0d95eb 0%, #3ec7fa 100%);
	background-image: -moz-linear-gradient(90deg, #0d95eb 0%, #3ec7fa 100%);
	background-image: -webkit-linear-gradient(90deg, #0d95eb 0%, #3ec7fa 100%);
}

.orange-gradient:active {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0px 1px 4px rgba(0, 0, 0, 0.3);
}
footer {
	margin-top: 50px;
	position: relative;
	height: 60px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #333;
}

footer .footer-bottom {
	height: 60px;
	line-height: 60px;
	background-color: #333;
	font-size: 11px;
	color: #666666;
	font-style: normal;
}

#sorry {
	text-align: center;
	margin-top: 300px;
}

.about-img {
	padding-left: 30px;
}
.about-txt {
	padding-top: 20px;
}

.head-btn span{
	display: inline-block;
}
